%table#services-table
  %thead
    %tr
      %th.thsort{:scope => "col"}= t('services.name_head')
      %th.thsort{:scope => "col"}= t('services.service_head')
      %th.thsort{:scope => "col"}= t('services.version_head')
      %th.thsort{:scope => "col"}= t('services.binded_apps_head')
      %th.thsort{:scope => "col"}= t('services.created_head')
      %th.thsort{:scope => "col"}= t('services.updated_head')
      %th.thcenter{:scope => "col", :width => "10%"}= t('services.actions_head')
  %tbody
    = render :partial => "service_item", :collection => @services

= render "service_new"