= title(t('dashboard.title'))

%ul.tabs
  %li
    %a{:href => "#account"}
      = t('dashboard.tab_account')
  %li
    %a{:href => "#apps"}
      = t('dashboard.tab_apps')

%div.panels
  %div.panel
    = render "account_overview"
  %div.panel
    = render "apps_overview"