.modalBox{:id => "add_user_modalBox"}
  = form_tag user_create_url, :id => "new-user-form", :remote => true do
    .modalBox-title
      = t('users.add_user')
    .modalBox-flash
    .modalBox-content
      %table
        %tbody
          %tr
            %td
              = sprite_tag("help", :alt => "?", :class=> "help", :title => t('users.email_help_html'))
              = label_tag "email", t('users.email') + ":"
            %td
              = email_field_tag :email, @email, :size => 50, :required => "required", :autofocus => "autofocus",
                :placeholder => t('users.email_placeholder')
              .form-field-error
          %tr
            %td
              = sprite_tag("help", :alt => "?", :class=> "help", :title => t('users.password_help_html'))
              = label_tag "password", t('users.password') + ":"
            %td
              = password_field_tag :password, nil, :size => 50, :required => "required",
                :placeholder => t('users.password_placeholder')
              .form-field-error
          %tr
            %td
              = sprite_tag("help", :alt => "?", :class=> "help", :title => t('users.vpassword_help_html'))
              = label_tag "vpassword", t('users.vpassword') + ":"
            %td
              = password_field_tag :vpassword, nil, :size => 50, :required => "required",
                :data_equals => "password", :data_equals_label => t('users.password'),
                :placeholder => t('users.vpassword_placeholder')
              .form-field-error
    .modalBox-submit= submit_tag t('users.add_user')