%tr.oddeven{:id => "app-" + @name + "-files-" + app_file_item[:name]}
  %td
    - if app_file_item[:type] == "dir"
      = sprite_tag("dir")
      = link_to app_file_item[:name], app_files_url(@name, 0, Base64.encode64(app_file_item[:path] + app_file_item[:name])), :remote => :true
    - else
      = sprite_tag("file")
      = link_to app_file_item[:name], app_view_file_url(@name, 0, Base64.encode64(app_file_item[:path] + app_file_item[:name]), :formatcode => true), :remote => :true
  %td.tdright= app_file_item[:size]