.modalBox{:id => "add_envvar_modalBox"}
  = form_tag app_set_var_url, :id => "set-var-form", :method => :put, :remote => true do
    .modalBox-title Add Environment Var
    .modalBox-flash
    .modalBox-content
      %table
        %tbody
          %tr
            %td
              = sprite_tag("help", :alt => "?", :class=> "help",
                :title => "Enter the name that univocally will identify your environment var.<br />Must contain only word characters (letter, number, hyphen).")
              = label_tag "name", "Name:"
            %td
              = text_field_tag :var_name, nil, :size => 30, :required => "required", :autofocus => "autofocus",
                :placeholder => "Name of the variable", :pattern => "[a-zA-Z0-9-]+",
                :title => "Must contain only word characters: letter, number, hyphen"
              .form-field-error
          %tr
            %td
              = sprite_tag("help", :alt => "?", :class=> "help",
                :title => "Enter the value to be set for your environment var. It can be blank.")
              = label_tag "value", "Value:"
            %td
              = text_field_tag :var_value, nil, :size => 30, :placeholder => "Value of the variable"
              .form-field-error
          %tr
            %td
              = sprite_tag("help", :alt => "?", :class=> "help",
                :title => "Check if you want to restart the application.")
              = label_tag "restart", "Restart App:"
            %td
              = check_box_tag :restart, true, true
    .modalBox-submit= submit_tag "Add URL"