.modalBox{:id => "bind_service_modalBox"}
  = form_tag app_bind_service_url, :id => "bind-service-form", :method => :put, :remote => true do
    .modalBox-title Bind Service
    .modalBox-flash
    .modalBox-content
      %table
        %tbody
          %tr
            %td
              = image_tag("help.png", :alt => "?", :class=> "help",
                :title => "Select the service you want to bind to the application.")
              = label_tag "service", "Service:"
            %td
              = select_tag :service, options_for_select(@available_services), :required => "required",
                :autofocus => "autofocus", :class => "service-uniform"
              .form-field-error
    .modalBox-submit= submit_tag "Bind Service"