$(function() {
  if ($('body').hasClass('apps') && !$('body').hasClass('show')) {
    $('#apps-menu-link').addClass('menu-current');
    appsTable_Settings = {
      'bAutoWidth':      false,
      'bFilter':         false,
      'bLengthChange':   false,
      'bStateSave':      true,
      'sPaginationType': 'full_numbers',
      'aoColumnDefs':    [{'bSortable': false, 'aTargets': [8]}, {'sType': 'string', 'aTargets': [5, 6, 7]}],
      'fnRowCallback':   function(nRow, aData, iDisplayIndex, iDisplayIndexFull) {
        var appid = '#' + nRow.id + '-tooltip';
        $(appid).tooltip({'tip': appid + 'box'});
        return nRow;
      },
      'fnDrawCallback':  function() {
        uploadAppBits_trigger = $('.uploadAppBits').overlay({
          'closeOnClick': false,
          'mask': {color: '#404040', loadSpeed: 'normal', opacity: 0.7},
          'top': '25%',
          'onBeforeLoad': function(event) {
            $('.modalBox-flash').empty();
            var form = this.getOverlay().find("#upload-app-bits-form");
            form.attr("action", this.getTrigger().attr("href"));
          }
        });
      }
    };
    appsTable = $('#apps-table').dataTable(appsTable_Settings);
    var ultabs = $('ul.tabs');
    ultabs.tabs('div.panels > div.panel', {effect: 'slide', tabs: 'li'});
    ultabs
      .on('onClick', function(event, tabIndex) {
        var tab = $(this).find('li.current > a').attr('href');
        if (tab == '#apps') {
          $('.invoke-modalBox').html('<button class="createApplication" rel="#create_application_modalBox">Create Application</button>').toggle();
          createApplication_trigger = $('.createApplication').overlay({
            'closeOnClick': false,
            'mask': {color: '#404040', loadSpeed: 'normal', opacity: 0.7},
            'top': '15%',
            'onBeforeLoad': function(event) {
              $('.modalBox-flash').empty();
            }
          });
          if (typeof memory_uniform == 'undefined') {
            memory_uniform = $('.memory-uniform').uniform();
          }
          if (typeof type_uniform == 'undefined') {
            type_uniform = $('.type-uniform').uniform();
          }
          if (typeof service_uniform == 'undefined') {
            service_uniform = $('.service-uniform').uniform();
          }
        }
      });
    $('#new-app-form .help').tooltip({'effect': 'fade', 'tipClass': 'help-tip'});
    $('#new-app-form').validator({'effect': 'below_field_error', 'inputEvent': 'keyup'});
    $('#new-app-form')
      .on('ajax:beforeSend', function(evt, xhr, settings) {
        var validator = $('#new-app-form').data('validator');
        if (!validator.checkValidity()) return false;
        request_processed = false;
        $(this).find('.modalBox-submit input[type="submit"]').attr({value: 'Processing ...'});
      })
      .on('ajax:success', function(evt, data, status, xhr) {
        if (request_processed == true) {
          $(this).find('input[type="text"],input[type="number"],input[type="url"]').val('');
        }
      })
      .on('ajax:error', function(evt, xhr, status, error) {
        $('#flash').empty();
        $('#flash').append('<div class="alert">An error occurred processing your request, please reload the page and try again.</div>');
        $('#flash').fadeIn('slow');
      })
      .on('ajax:complete', function(evt, xhr, status) {
        if (request_processed == true) {
          createApplication_trigger.eq(0).overlay().close();
        }
        $(this).find('.modalBox-submit input[type="submit"]').attr({value: 'Create Application'});
      });
    $('#start-app-link')
      .on('ajax:beforeSend', function(evt, xhr, settings) {
        request_processed = false;
        $(this).find('img').attr({ src : '<%= asset_path('wait.gif') %>'});
      })
      .on('ajax:error', function(evt, xhr, status, error) {
        $('#flash').empty();
        $('#flash').append('<div class="alert">An error occurred processing your request, please reload the page and try again.</div>');
        $('#flash').fadeIn('slow');
      })
      .on('ajax:complete', function(evt, xhr, status) {
        if (request_processed == false) {
          $(this).find('img').attr({ src : '<%= asset_path('start.png') %>'});
        }
      });
    $('#stop-app-link')
      .on('ajax:beforeSend', function(evt, xhr, settings) {
        request_processed = false;
        $(this).find('img').attr({ src : '<%= asset_path('wait.gif') %>'});
      })
      .on('ajax:error', function(evt, xhr, status, error) {
        $('#flash').empty();
        $('#flash').append('<div class="alert">An error occurred processing your request, please reload the page and try again.</div>');
        $('#flash').fadeIn('slow');
      })
      .on('ajax:complete', function(evt, xhr, status) {
        if (request_processed == false) {
          $(this).find('img').attr({ src : '<%= asset_path('stop.png') %>'});
        }
      });
    $('#restart-app-link')
      .on('ajax:beforeSend', function(evt, xhr, settings) {
        request_processed = false;
        $(this).find('img').attr({ src : '<%= asset_path('wait.gif') %>'});
      })
      .on('ajax:error', function(evt, xhr, status, error) {
        $('#flash').empty();
        $('#flash').append('<div class="alert">An error occurred processing your request, please reload the page and try again.</div>');
        $('#flash').fadeIn('slow');
      })
      .on('ajax:complete', function(evt, xhr, status) {
        if (request_processed == false) {
          $(this).find('img').attr({ src : '<%= asset_path('restart.png') %>'});
        }
      });
    $('#upload-app-bits-form .help').tooltip({'effect': 'fade', 'tipClass': 'help-tip'});
    $('#upload-app-bits-form').validator({'effect': 'below_field_error', 'inputEvent': 'keyup'});
    $('#upload-app-bits-form')
      .on('ajax:beforeSend', function(evt, xhr, settings) {
        var validator = $('#upload-app-bits-form').data('validator');
        if (!validator.checkValidity()) return false;
        request_processed = false;
        $(this).find('.modalBox-submit input[type="submit"]').attr({value: 'Processing ...'});
      })
      .on('ajax:success', function(evt, data, status, xhr) {
        if (request_processed == true) {
          $(this).find('input[type="url"],input[type="text"]').val('');
        }
      })
      .on('ajax:error', function(evt, xhr, status, error) {
        $('#flash').empty();
        $('#flash').append('<div class="alert">An error occurred processing your request, please reload the page and try again.</div>');
        $('#flash').fadeIn('slow');
      })
      .on('ajax:complete', function(evt, xhr, status) {
        if (request_processed == true) {
          uploadAppBits_trigger.eq(0).overlay().close();
        }
        $(this).find('.modalBox-submit input[type="submit"]').attr({value: 'Update Application'});
      });
    $('#delete-app-link')
      .on('ajax:beforeSend', function(evt, xhr, settings) {
        $(this).find('img').attr({ src : '<%= asset_path('wait.gif') %>'});
      })
      .on('ajax:error', function(evt, xhr, status, error) {
        $('#flash').empty();
        $('#flash').append('<div class="alert">An error occurred processing your request, please reload the page and try again.</div>');
        $('#flash').fadeIn('slow');
      })
      .on('ajax:complete', function(evt, xhr, status) {
        $(this).find('img').attr({ src : '<%= asset_path('delete.png') %>'});
      });
  }
});