.modalBox{:id => "create_application_modalBox"}
  = form_tag apps_create_url, :id => "new-app-form", :remote => true do
    .modalBox-title Create Application
    .modalBox-flash
    .modalBox-content
      %table
        %tbody
          %tr
            %td
              = label_tag "name", "Name:", :class => "legend"
              .tooltip-legend
                %p Enter the name that univocally will identify your application.
                %p Must contain only word characters (letter, number, underscore).
                %p Example: my_application
            %td= text_field_tag :name, @name, :size => 50, :required => "required", :placeholder => "Enter the application name", :autofocus => "autofocus"
          %tr
            %td
              = label_tag "instances", "Instances:", :class => "legend"
              .tooltip-legend
                %p Enter the number of instances of your application.
            %td= number_field_tag :instances, @instances, :min => 1, :max => @available_instances, :required => "required"
          %tr
            %td
              = label_tag "memsize", "Memory size:", :class => "legend"
              .tooltip-legend
                %p Select the memory size for each instance of your application.
            %td= select_tag :memsize, options_for_select(@available_memsizes), :required => "required", :class => "memory-uniform"
          %tr
            %td
              = label_tag "type", "Type:", :class => "legend"
              .tooltip-legend
                %p Select the type (framework and runtime) of application.
            %td= select_tag :type, options_for_select(@available_frameworks), :required => "required", :class => "type-uniform"
          %tr
            %td
              = label_tag "url", "URL:", :class => "legend"
              .tooltip-legend
                %p Enter the URL you want to map to your application.
            %td= url_field_tag :url, @url, :size => 50, :required => "required", :placeholder => "Enter the URL for the application"
    .modalBox-title Optional Data
    .modalBox-content
      %table
        %tbody
          %tr
            %td
              = label_tag "service", "Bind Service:", :class => "legend"
              .tooltip-legend
                %p Select the service you want to bind to the application.
            %td= select_tag :service, options_for_select(@available_services), :class => "service-uniform"
          - if git_deploy_available?
            %tr
              %td
                = label_tag "deployfrom", "Deploy application from:", :class => "legend"
                .tooltip-legend
                  %p Select from where you want to deploy the application.
              %td
                = radio_button_tag :deployfrom, 'git', true, :disabled => true
                Git
            %tr
              %td
                = label_tag "gitrepo", "Git Repository URI:", :class => "legend"
                .tooltip-legend
                  %p Enter the Git Repository URI that contains the application you want to deploy.
                  %p Example: git://github.com/user/repo.git
              %td= url_field_tag :gitrepo, @gitrepo, :size => 50, :placeholder => "git://github.com/user/repo.git"
            %tr
              %td
                = label_tag "gitrepo", "Git Repository Branch:", :class => "legend"
                .tooltip-legend
                  %p Enter the Git Repository Branch that contains the application you want to deploy.
                  %p By default: master
              %td= text_field_tag :gitbranch, @gitbranch, :size => 20, :placeholder => "master"
    .modalBox-submit= submit_tag "Create Application"

- if @newapp_default_urldomain
  - content_for :javascripts do
    :javascript
      $(function() {
        $('#new-app-form input#url')
          .on('focus', function() {
            if ($(this).val() == "") {
              var app_name = $('#new-app-form input#name');
              $(this).val('http://' + app_name.val() + '.#{@newapp_default_urldomain}');
            }
          });
      });