.modalBox{:id => "update_application_bits_modalBox"}
  = form_tag "#", :id => "upload-app-bits-form", :method => :put, :remote => true do
    .modalBox-title Update Application Bits
    .modalBox-flash
    .modalBox-content
      %table
        %tbody
          %tr
            %td
              = image_tag("help.png", :alt => "?", :class=> "help",
                :title => "Select from where you want to deploy the application.")
              = label_tag "deployfrom", "Deploy application from:"
            %td
              = radio_button_tag :deployfrom, 'git', true, :disabled => true
              Git
          %tr
            %td
              = image_tag("help.png", :alt => "?", :class=> "help",
                :title => "Enter the Git Repository URI that contains the application you want to deploy.<br />Example: <i>git://github.com/user/repo.git</i>.")
              = label_tag "gitrepo", "Git Repository URI:"
            %td
              = text_field_tag :gitrepo, @gitrepo, :size => 50, :required => "required", :autofocus => "autofocus",
                :placeholder => "git://github.com/user/repo.git",
                :pattern => "git://[a-z0-9]+([-.]{1}[a-z0-9]+)*.[a-z]{2,5}(([0-9]{1,5})?.*)?.git",
                :title => "Must contain a git repository URI: git://github.com/user/repo.git"
              .form-field-error
          %tr
            %td
              = image_tag("help.png", :alt => "?", :class=> "help",
                :title => "Enter the Git Repository Branch that contains the application you want to deploy.<br />By default: <i>master</i>.")
              = label_tag "gitrepo", "Git Repository Branch:"
            %td
              = text_field_tag :gitbranch, @gitbranch, :size => 20, :placeholder => "master"
              .form-field-error
    .modalBox-submit= submit_tag "Update Application"