= title(t('apps.title_app', :name => @name))

.invoke-modalBox
%ul.tabs
  %li
    %a{:href => "#resources"}
      = t('apps.tab_resources')
  %li
    %a{:href => "#instances"}
      = t('apps.tab_instances')
  %li
    %a{:href => "#crashes"}
      = t('apps.tab_crashes')
  %li
    %a{:href => "#envvars"}
      = t('apps.tab_envvars')
  %li
    %a{:href => "#services"}
      = t('apps.tab_services')
  %li
    %a{:href => "#urls"}
      = t('apps.tab_urls')
  %li
    %a{:href => "#files"}
      = t('apps.tab_files')

%div.panels
  %div.panel
    = render "apps/resources/app_resources"
  %div.panel
    = render "apps/instances/app_instances"
  %div.panel
    = render "apps/crashes/app_crashes"
  %div.panel
    = render "apps/envvars/app_envvars"
  %div.panel
    = render "apps/services/app_services"
  %div.panel
    = render "apps/urls/app_urls"
  %div.panel
    = render "apps/files/app_files"