%table#frameworks-table
  %thead
    %tr
      %th.thsort{:scope => "col", :rowspan => 2}
        = t('system.frameworks.framework_head')
      %th.thcenter{:scope => "col", :colspan => 3}
        = t('system.frameworks.runtimes_head')
    %tr
      %th.thsort{:scope => "col"}
        = t('system.frameworks.name_head')
      %th.thsort{:scope => "col"}
        = t('system.frameworks.version_head')
      %th.thsort{:scope => "col"}
        = t('system.frameworks.description_head')
  %tbody
    - @frameworks.each do |fwk_name, fwk|
      - fwk[:runtimes].each do |run|
        %tr.oddeven
          %td= find_vendor_image(fwk[:name]).html_safe
          %td= find_vendor_image(run[:name]).html_safe
          %td= run[:version]
          %td= run[:description]