%table#runtimes-table
  %thead
    %tr
      %th.thsort{:scope => "col"}
        = t('system.runtimes.name_head')
      %th.thsort{:scope => "col"}
        = t('system.runtimes.version_head')
      %th.thsort{:scope => "col"}
        = t('system.runtimes.description_head')
  %tbody
    - @runtimes.each_value do |run|
      %tr.oddeven
        %td= find_vendor_image(run[:name]).html_safe
        %td= run[:version]
        %td= run[:description]