= title(t('system.title'))

%ul.tabs
  %li
    %a{:href => "#target"}
      = t('system.tab_target')
  %li
    %a{:href => "#system_services"}
      = t('system.tab_system_services')
  %li
    %a{:href => "#runtimes"}
      = t('system.tab_runtimes')
  %li
    %a{:href => "#frameworks"}
      = t('system.tab_frameworks')

%div.panels
  %div.panel
    = render "target"
  %div.panel
    = render "system_services"
  %div.panel
    = render "runtimes"
  %div.panel
    = render "frameworks"