%hgroup
  %h1
    %a{:href => "/"}
      = image_tag(configatron.brand.logo)
      = configatron.brand.title
  %section
    %ul
      - if @cf_logged_in
        %li= t('layouts.header.welcome', :user => @cf_user)
        %li= link_to t('layouts.header.logout'), logout_url
      - else
        %li= link_to t('layouts.header.login'), login_url
        - if controller_name == "sessions"
          = language_selector().html_safe